html {
    scroll-padding-top: 120px;
  }

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.main {
    margin-top: 40px; /* Add a top margin to avoid content overlay */
  }

body {
    padding: 0;
    margin: 0;
    background-color: #0C4160;
}


.nav_bar, .logo {
    box-sizing: border-box;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #052f47;
    color: #E2E6E8;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 30px;
    margin: 15px;
    border-radius: 50%;
    padding: 8px;
    line-height: 15px;
    border: 3px solid #E2E6E8;
    text-align: center;
}

.nav_buttons{
    display: flex;
    font-size: 20px;
}

.nav_buttons a {
    padding: 16px;
    display: block;
}

.nav_buttons a:hover {
    background-color: #148cd1;
    color: #E2E6E8;
}

.nav_menu {
    position: absolute;
    top: 24px;
    right: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: #E2E6E8;
    border-radius: 10px;
}

.about_me {
    display: flex;
    width: 100%;
    padding-top: 5vw;
}

#about_me_text1 {
    font-size: 2vw; 
    color: #E2E6E8;
}

#about_me_text2 {
    font-size: 8vw; 
    color: #E2E6E8;
}

#about_me_text3 {
    font-size: 1.5vw;
    color: #E2E6E8;
}
#attractor_svg {
    transform: scaleY(-1);
    background-color: #0C4160;
    z-index: 0;
    position: relative;
}

[id*="attractor_id"] {
    stroke-width: 0.03px;
    stroke: url('#myGradient');
    fill: none;
}

#name {
    color: #E2E6E8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
    max-width: 50%;
    flex: 3;
}

#attractor_container {
    flex: 1.5;
}

#education, #projectNSkills, #contact {
    display: flex;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

#education_stats, #projects {
    flex: 1;
    color: #E2E6E8;
    font-size: 1.5vw;
}


#education_header, #projectNSkills_header, #contact_header {
    padding-left: 2vw; 
    color: #E2E6E8; 
    font-size: 4vw;
}

#relevant_coursework, #skills {
    flex: 1;
    color: #E2E6E8;
    font-size: 1.5vw;
}

#site_header, #site_description {
    font-size: 1.2vw;
    color: #E2E6E8;
}

#ts_header {
    padding: 4vw; 
    font-size: 1.3vw;
    margin-left: -4vw;
    color: #E2E6E8;
}
    
    
.flex-container {
    display: flex;
}

.courses, .all_skills {
    flex-grow: 1;
    align-items: center;
}

.courses ul span {
    padding: 4vw;
    font-size: 1.3vw;
}

html {
    scroll-behavior: smooth;
}

#education_stats ul, .courses ul, #skills ul li, .all_skills, #contact p{
    font-size: 1.2vw;
    color: #E2E6E8;
}

@media (max-width: 600px) {
    .nav_menu {
        display: flex;
    }
    .nav_buttons {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .nav_buttons a {
        padding: 8px;
    }
    .nav_bar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav_buttons.active {
        display: flex;
    }
    .about_me {
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }
    #name {
        max-width: 100%;
    }
    #attractor_container {
        width: 70%;
    }
    #about_me_text1 {
        font-size: 5vw; 
        color: #E2E6E8;
    }
    
    #about_me_text2 {
        font-size: 20vw; 
        color: #E2E6E8;
    }
    
    #about_me_text3 {
        font-size: 5vw;
        color: #E2E6E8;
    }

    #education, #projectNSkills {
        flex-direction: column;
    }
    #education_header, #projectNSkills_header, #contact_header {
        font-size: 12.5vw;
    }
    .line_break {
        display: none;
    }
    #education_stats, #relevant_coursework, #projects, #skills, #contact p{
        font-size: 7vw;
    }
    #education_stats ul, .courses ul, .course_header, #site_description, #site_header, #ts_header, #skills ul li{
        font-size: 5vw;
    }
    #site_header {
        margin-top: 5vw;
        margin-bottom: -5vw;
    }
}